<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © 2017-2025 WireGuard LLC. All Rights Reserved.
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<!--
    Google Play flavour manifest. REQUEST_INSTALL_PACKAGES no longer needed
    in base manifest (updater stripped), so no override required here.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
</manifest>
